.payment-body{
    display: flex;
    align-items: start;
    justify-content: center;
    gap:50px;
    margin-top:100px;
    margin-bottom:100px;
}
.payment-left{
    width:100%;
    max-width: max(30%,500px);
}
.payment-left-title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
}
.payment-left input ,button{
    margin-bottom:15px;
    width:100%;
    padding:10px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    outline-color: rgb(4, 78, 198);

}
.payment-left button{
    margin-top:10px;
    padding:10px;
    border-radius: 10px;
    background-color:rgb(2, 2, 110);
    cursor:pointer;
    color:white;

}